.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.enchortag{
  text-decoration: none;
  color: gray;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.NavigatonTab{
  position: fixed;
  bottom:0;
  z-index:9;
  width: 100%;
  height:50px;
  background-color: #ffffff;
  text-align: center;
}
.menuname{
  font-size: 10px;
}
.navicons{
  color: gray;
  font-size: 20px;
  padding-bottom: 2px;
}
.navicons:hover{
  color: #304AC4;
}

.header{
  background-color:#FAFAFA;
}
.logo{
  max-height: 100px;
  max-width: 70px;
}
.search-box{
  position: absolute;
  bottom:9%;
  right:4%;
}
.iconsheader{
  font-size:40px;
  padding: 5px 5px;
}
.iconsheader:hover{
  color:blue;
}
.askmayabanner{
  margin-top: 10px;
  padding-bottom: 10px;


}
.askmaybanner-txt{
  padding:7px !important;
}

.backbuuttonheader{
  padding-top:7%;
  height: 80px;
  background-color: #FEFEFE;
  
}
.backbutton{
  font-size:17px;
  color:lightgray;
}
.backbuttonheadertext{
  color:lightgray;
  font-size: 17px;

}
.anonymousboxcontent{
  
  padding-left:5px;
}
.anonymousbox{
  margin-top: 15px;
  
}
.answer{
  margin-top: 20px;
}
.Dravatar{
  color: blue;
}
.Drname{
  color: blue;
}
.top-icon{
  color:#ffffff;
  font-size: 30px;
  margin-top:60%;
}

.searchbar{
  width: 120%;
  margin-left:0%;
  border-radius: 25px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 15px;
  padding: 5px;
}

.searchresult{
  position: absolute;
  z-index: 9;
  background-color:#ffffff;
  width: 118%;
  margin-left: -20px;
}


.full-banner{
  width: 100%;
  background-color: #EEF0EF;
  margin-top:10px;
  border-radius:10px;
  background-image:url('https://i.imgur.com/lpNjC5E.jpg');
  background-position: left;
  background-attachment: cover;
  background-size: cover;
}


.btn-primary{
  background-color: purple !important;
  border: none !important;

}

.bannerbutton{
  background-color: purple;
}
.banner-content{
  padding:20px;

}

.tilesview{
  height:80px;
  background-color:#ffffff;
  border:1px solid #FAFAFA;
  margin-top:15px;
  padding-left: 3px;
  text-align: center;
  border:1px solid #EFEFEF;
}
.tilesviewsecond{

  height: 85px;
  background-color:#ffffff;
  border:1px solid #FAFAFA;
  padding-left: 3px;
  text-align: center;
  border:1px solid #EFEFEF;

}

.service-images{
  height: 40px;
  width: 60%;
  margin: 0 auto;
}


.carousel .thumb{
display: none !important;
}
.carousel .control-dots{
  display: none !important;

}
.carousel .slide{
  background-color: transparent !important;
}
 .carousel .carousel-status{
  display: none !important;
}


.carousel .thumbs-wrapper {
  margin: 20px;
  overflow: hidden;
  display: none;
  
}
.dravatar{
  height: 60px ;
  width: 60px;
  border-radius: 50%;
}

.streamcardcontent{
  background-color: #F2E1C6;
}
